
.mainContainer{
    display: flex;
    flex-direction: raw;
    height:84%;
    overflow: hidden
}
main {
    display: flex;
    flex-grow: 1;
}

.map-container {
    flex-grow: 1;
}

.legendContainer{
    width:200px;
    overflow-y: scroll; 
    background-color: #E7F6F2;
}


@media screen and (max-width:600px) {
    .legendContainer{
        width:100px;
    }
}

.changeContainer{
    background-color: #E7F6F2;
}
    
.changeButton{
    background-color: #072227;
    color:white;
    cursor:pointer;
}

.changeButton:hover{
    background-color: gray;
}
